.cart-container {
  margin: auto;
  max-width: 102.4rem;
}

.cart-products {
  width: 100%;
  max-width: 65rem;
}

.material-icons-outlined.arrow-icon {
  font-size: 1.9rem;
}

.delivery-address {
  margin-top: 4px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.address-edit-btn {
  align-self: flex-start;
}

.btn-solid .edit-icon {
  font-size: 1.8rem;
}

.continue {
  color: var(--blue);
}

.continue:hover {
  text-decoration: underline;
}
