.address {
	font-size: 1.4rem;
}

.edit-btn {
	width: 1.5rem;
	height: 1.5rem;
}

.cart-container {
	margin: auto;
	max-width: 102.4rem;
}

.cart-products {
	width: 100%;
	max-width: 65rem;
}
