.card {
	max-width: 25rem;
	transition: all 0.3s;
}

.card-description {
	overflow: hidden;
	display: -webkit-box;
	color: var(--dark-gray);
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	align-self: flex-start;
}

.wishlist-badge {
	background-color: var(--light-red);
}

.wishlist-badge i {
	color: var(--red);
}

.price-strike {
	margin-left: 5px;
	font-size: 1.2rem;
	color: var(--dark-gray);
	text-decoration: line-through;
}
