.card-content {
  width: 90%;
}

.cart-item-image {
  max-width: 20rem;
  min-width: 20rem;
}

.quantity {
  width: 3rem;
  height: 3rem;
}

.quantity-btn {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  background-color: var(--primary-color);
}

.quantity-btn span {
  font-size: 1.4rem;
}

@media screen and (max-width: 30em) {
  .cart-item-image {
    width: 100%;
    min-width: unset;
  }
}
