.address {
	margin: 0 auto;
	max-width: 60rem;
}

.address-input div {
	width: 24rem;
}

.address-btn {
	margin-left: auto;
}

@media screen and (max-width: 48em) {
	.address-input div {
		width: 100%;
	}
}
