.coupon-container {
  width: 100%;
  max-width: 50rem;
  background-color: var(--white);
}

.cart-details {
  position: sticky;
  top: 10rem;
  flex-grow: 1;
  max-width: 62rem;
  align-self: flex-start;
}

.btn .offer-icon {
  font-size: 2rem;
}

.total-amount {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
}

.address-message {
  color: var(--red);
}
