.sidebar {
	width: 0;
	height: 100vh;
	background-color: var(--background-color);
	overflow: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.sidebar-header {
	color: var(--white);
	background-color: var(--primary-color);
}

.sidebar-close-btn {
	width: 4rem;
	height: 4rem;
	color: var(--white);
	border: 2px solid var(--white);
}

.sidebar-item {
	padding: 1rem;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}

.sidebar-item:hover {
	background-color: var(--light-gray);
}

.sidebar-link {
	display: block;
	font-size: 1.8rem;
}

@media screen and (max-width: 64em) {
	.sidebar.sidebar-mobile {
		width: 30rem;
		display: block;
	}
}
