.mobile-filter-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	display: flex;
	flex-direction: column;
	background-color: var(--modal-background);
}

.mobile-filter-container {
	display: none;
}

.filter-btn {
	color: var(--white);
	background-color: var(--primary-color);
}

.filter-btn:hover {
	background-color: var(--primary-hover-color);
}

.sort-btn {
	border-right: 0.5px solid var(--gray);
}

.mobile-filter {
	width: 100%;
	margin-top: auto;
	background-color: var(--background-color);
}

.mobile-filter-close {
	font-size: 2.6rem;
	color: var(--primary-color);
}

.btn.mobile-clear-btn {
	font-weight: 500;
}

@media screen and (min-width: 48em) {
	.mobile-filter,
	.mobile-filter-wrapper {
		display: none;
	}
}
