.products {
	display: grid;
	align-items: start;
	justify-items: center;
	grid-template-columns: repeat(3, 1fr);
	max-width: 80rem;
	margin: 0rem auto 6rem auto;
}

.mobile-filter-container {
	display: none;
}

.filter-btn {
	color: var(--primary-color);
	background-color: var(--white);
}

.filter-btn:hover {
	background-color: var(--white-hover-color);
}

.sort-btn {
	border-right: 1px solid var(--white-hover-color);
}

@media screen and (max-width: 64em) {
	.products {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 48em) {
	.mobile-filter-container {
		display: flex;
	}
}
