.products-container {
  display: grid;
  gap: 2px;
  align-items: start;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90rem;
  margin: 0rem auto 6rem auto;
}

.not-available {
  width: 100%;
  margin-top: 8rem;
  text-align: center;
}

@media screen and (max-width: 64em) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 48em) {
  .products-loader {
    height: calc(100vh - 12rem);
  }

  .mobile-filter-container {
    display: flex;
  }
}
