@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--black: #171717;
	--white: #ffffff;
	--red: #ef4444;
	--light-red: #fee2e2;
	--gray: #94969f;
	--light-gray: #d8d8d8;
	--dark-gray: #666666;
	--primary-color: #302f34;
	--primary-hover-color: #4a494e;
	--white-hover-color: #e5e7eb;
	--secondary-color: #9a9a9a;
	--secondary-hover-color: #afafaf;
	--background-color: #ffffff;
	--navigation-shadow: rgba(0, 0, 0, 0.2);
	--text-overlay-background: rgba(0, 0, 0, 0.08);
}

body {
	color: var(--primary-color);
	font-family: "Inter", sans-serif;
	background-color: var(--background-color);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background: var(--secondary-color);
}

i,
input,
button,
select {
	font-size: 1.6rem;
	font-family: inherit;
}

input:focus,
select:focus {
	outline: none;
	border: 1px solid var(--dark-gray);
}

img {
	height: 100%;
	object-fit: contain;
}

/* utility */
.text-primary {
	color: var(--primary-color);
}

.gutter-bottom {
	margin-bottom: 2rem;
}

.wrapper {
	padding: 2rem;
}

.btn {
	font-weight: 600;
	border-radius: 5px;
	padding: 0.8rem 1.6rem;
}

.btn-solid {
	font-size: 1.4rem;
	color: var(--white);
	background-color: var(--primary-color);
}

.btn-solid:hover {
	background-color: var(--primary-hover-color);
}

.btn-outlined {
	color: var(--primary-color);
	border: 1px solid var(--light-gray);
}

.btn-outlined:hover {
	color: var(--primary-color);
	background-color: var(--light-gray);
}

.overflow-hidden {
	overflow: hidden;
}

.text-underline {
	text-decoration: underline;
}

.border {
	border: 1px solid var(--light-gray);
}

.border-r {
	border-right: 1px solid var(--light-gray);
}

.border-l {
	border-left: 1px solid var(--light-gray);
}

.border-bottom {
	border-bottom: 1px solid var(--light-gray);
}

@media screen and (max-width: 64em) {
	html {
		font-size: 58%;
	}
}
