.text-primary {
	color: var(--primary-color);
}

.text-green {
	color: var(--green);
}

.text-underline {
	text-decoration: underline;
}

.gutter-bottom {
	margin-bottom: 2rem;
}

.wrapper {
	padding: 2rem;
}

.cursor-pointer {
	cursor: pointer;
}

.btn {
	font-weight: 600;
	font-size: 1.4rem;
	border-radius: 5px;
	padding: 0.8rem 1.6rem;
}

.btn-solid {
	color: var(--white);
	background-color: var(--primary-color);
}

.btn-solid:hover {
	background-color: var(--primary-hover-color);
}

.btn-outlined {
	color: var(--primary-color);
	border: 1px solid var(--light-gray);
}

.btn-outlined:hover {
	color: var(--primary-color);
	background-color: var(--light-gray);
}

.overflow-hidden {
	overflow: hidden;
}

.border {
	border: 1px solid var(--light-gray);
}

.border-r {
	border-right: 1px solid var(--light-gray);
}

.border-l {
	border-left: 1px solid var(--light-gray);
}

.border-bottom {
	border-bottom: 1px solid var(--light-gray);
}
